body {
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #777;
    margin: 0;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: cornflowerblue;
    text-decoration: none;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav .menu-button {
        display: block;
        margin-top: 10px;
        cursor: pointer;
        color: cornflowerblue;
        font-size: 18px;
    }

    nav .menu-button::after {
        content: '\2630';
    }
}

