/* :root styles */
:root {
    --color-primary: black;
    --color-secondary: #abcdef;
    --color-accent: cornflowerblue;
    --hover-color: cornflowerblue;
    --background-color: darkgrey;

    --base-spacing: 1.5rem;
    --section-spacing: 2.5rem;
    --sidebar-spacing: 1.5rem;

    --font-primary: 'Times New Roman', sans-serif;
    --icon-font-size: 2rem;
    --transition-speed: 0.3s;
    --base-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;

    --base-line-height: 1.5;
    --section-separator: 1px solid var(--color-accent);
}

/* Global styles */
html,
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: var(--font-secondary);
}

p, i {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 90vw;
    margin: 2rem auto;
    padding: 0;
    background-color: #ebecf0;
    border-radius: 5px;
    overflow: hidden;
}

/* Sidebar styles */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--sidebar-spacing);
    background-color: var(--color-secondary);
    color: darkslategrey;
}

/* Sidebar portrait styles */
.sidebar .portrait img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* Links styles */
.links {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.links a {
    color: inherit;
    font-size: var(--icon-font-size);
    text-decoration: none;
    transition: color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.links a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
}

/* Main content styles */
.main-content {
    flex: 3;
    padding: var(--section-spacing);
}

/* Header and section styles */
header,
.main-content section,
.main-content header {
    margin-bottom: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    border-bottom: var(--section-separator);
}

/* Divider styles */
.divider {
    padding-bottom: 0.5rem;
    border-bottom: var(--section-separator);
    margin-bottom: 0.5rem;
}

/* Last child styles */
.main-content section:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

/* Skill list styles */
.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: calc(0.5 * var(--base-spacing));
    margin-bottom: 1rem;
}

.skill-list li {
    display: flex;
    align-items: center;
}

.fa-skill-icon {
    margin-right: var(--base-spacing);
    font-size: var(--icon-font-size);
}

/* Responsive design styles */
@media (max-width: 768px) {
    body {
        background: none;
    }

    .container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .sidebar {
        order: -1;
        height: 100vh;
        overflow-y: auto;
    }

    .main-content {
        padding-top: 1rem;
    }
}

/* Print styles */
@media print {
    :root {
        --base-font-size: 12pt;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: #333;
    }

    .container {
        flex-direction: column;
        margin: 0.1rem;
    }

    .sidebar, .main-content, p {
        padding: 0.2rem;
    }

    .sidebar {
        order: -1;
        height: auto;
    }

    .main-content {
        padding-top: 0.2rem;
    }

    p {
        text-align: justify;
        margin-bottom: 0.2rem;
    }

    .skill-list {
        grid-template-columns: repeat(5, 1fr);
        list-style-type: none;
        gap: calc(0.5 * var(--base-spacing));
    }

    .links, h1, .portrait {
        display: none;
    }

    .main-content section, .main-content header {
        margin-bottom: calc(0.8 * var(--section-spacing));
        padding-bottom: calc(0.8 * var(--section-spacing));
        border-bottom: calc(0.8 * var(--section-separator));
    }
}


  .highlighted-text {
    font-family: "Monosten Fat Pro", monospace;
    background-color: #dedee4;
    color: #ec5c5c;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
  }

  
  table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  /* DELETE AFTER HERE IF THSI MESSES UP */

  /* Add the CSS styles here */
/* Feel free to customize based on your preferences */
body {
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90vw;
    margin: 2rem auto;
    background-color: #ebecf0;
    border-radius: 5px;
    overflow: hidden;
}

.main-content {
    padding: 1.5rem; /* Adjusted main content padding */
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

.model-table {
    width: 80%; /* Adjust the width of the table as needed */
    border-collapse: collapse;
    margin-bottom: 1rem; /* Adjusted margin */
}

.model-table td {
    border: 1px solid #ddd;
    padding: 4px; /* Adjusted padding for a more condensed look */
    font-size: 14px; /* Adjusted font size for a more condensed look */
    text-align: left;
}

.model-table .sub-heading {
    font-weight: bold;
}

.model-table .class-heading {
    font-weight: bold;
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

/* Style the dropdown */
#resultsDropdown {
    padding: 6px; /* Adjusted padding for the dropdown */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

 



.button-container {
    text-align: center; /* Center align the content */
}

.button-link {
    font-size: 16px;
    margin-bottom: 20px; /* Adjusted margin for spacing */
}

.button-link a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Adjust text color */
    background-color: cornflowerblue; /* Adjust button background color */
    border: 2px solid cornflowerblue; /* Adjust border color */
    border-radius: 5px; /* Adjust border radius for rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.button-link a:hover {
    background-color: darkslateblue; /* Adjust button background color on hover */
}
